.trigger {
  cursor: pointer;
}

.avatar {
  width: 4rem;
  height: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  margin-top: 1.5rem;
  /* border: 1px solid var(--color-border); */
  border-radius: var(--radius);
  background-color: hsl(var(--background) / 0.9);

  padding: 2rem;
  width: 100vw;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

@media (min-width: 640px) {
  .content {
    width: 400px;
    max-width: 400px;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  align-items: center;
  text-decoration: none;

  .fullName {
    font-weight: bold;
    font-size: var(--text-xl);
  }

  .email {
    color: var(--color-muted-foreground);
    font-size: var(--text-sm);
  }
}

.links {
  display: flex;
  flex-direction: column;

  & > a {
    border-bottom: 1px solid var(--color-border);
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
    text-decoration: none;

    &:hover {
      color: var(--color-primary);
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.logoutButton {
  width: 100%;
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
